// all app scss styles here
// variables
$yellow: #e9b008;
$grey: #817f83;
$white: #fff;
$pale-yellow: #fff8ed;
$med-yellow: #f5c664;

// general styles

body {
  background: $grey;
}

p {
  color: $grey;
  font-family: Helvetica, sans-serif;
  text-align: center;
  display: block;
  text-align: center;

}

a {
  text-decoration: none;
  color: $yellow;
}

a:hover {
  color: $med-yellow;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 23px;
  color: $yellow;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: $yellow;
  display: inline;
}


h3 {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: $yellow;
  display: inline;
}

h4 {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: $grey;
  display: inline;

}

.bold {
  font-weight: 600;
}

.row {
  background: $white;
  padding: none;
}

.header {
  margin-bottom: 0;
  border-bottom: 0;

  .sky55Logo {
    height: 118px;

    img {
      margin: 16px 0 0 26px;
    }
  }

  h1 {
    margin: 50px 20px 0 0;
    font-size: 23px;
    text-align: right;

    strong {
      font-size: 17px;
      font-weight: 600;
    }
  }
}

.sky55Text {
  padding: 10px 100px;
  text-align: center;
}

.summary {
  padding-bottom: 20px;

  .buildingPhotos {
    padding: 0;
    margin-bottom: 20px;
  }
}

.details {
  background: $pale-yellow;

  table {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: $grey;
    text-align: center;
    border: 1px solid $yellow;
  }

  tr,
  td {
    width: 33%;
    border: 1px solid $yellow;
    background-color: $white;
  }

  th {
    background-color: $yellow;
    color: $white;
  }
}

.footer {
  padding: 20px 0 0;
  text-align: center;
  border: 0;

  .socialIcons {
    text-align: center;
  }

  .logo {
    margin: 30px 0 20px;
  }
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 0 4px;
}


// mobile styles

@media #{$small-only} {

  .header {

    .sky55Logo {
      height: 118px;
      text-align: center;

      img {
        margin: 16px 0 0;
      }
    }
  }

  .summary {
    padding-bottom: 0;
  }

  .call-to-action {
    background: $yellow;
    padding: 10px 0;
    margin: 0 0 10px;

    h1 {
      text-align: center;
      margin: 0;
      color: $white;
    }
  }

  .buildingPhotos {
    text-align: center;
  }

  .sky55Text {
    padding: 10px 40px;
  }

  .footer {
    .logo {
      margin: 0 0 20px;
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }

  a:hover {
    color: $pale-yellow;
  }

}
